form {
  display: flex;
  flex-direction: column;
  max-width: 420px;
  margin: 0 auto;
  border: 1px solid rgba(0, 0, 0, 0.3);
  border-radius: 25px;
  padding: 20px;
  background-color: hsla(0, 0%, 96%, 0.985);
  input {
    cursor: pointer;
    display: flex;
    flex-direction: column;
    all: unset;
    padding: 10px;
    border: none;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
    background-color: hsla(0, 0%, 96%, 0.985);
    font-size: 14px;
  }
}

input[type="submit"],
.change__password-btn {
  cursor: pointer;
  margin-top: 10px;
  background-color: #2065c9;
  color: white;
  border-radius: 5px;
  text-align: center;
  font-size: 13px;
  padding: 15px;
}
