.video-mixin {
  .video-mixin__thumb {
    height: 140px;
    width: 100%;
    background-color: teal;
  }
  .video-mixin__data {
    padding: 0px 10px;
    .video-mixin__title {
      font-size: 16px;
      display: block;
      margin-top: 15px;
    }
    .video-mixin__meta {
      span {
        display: block;
        margin-top: 5px;
      }
      margin-top: 10px;
      font-size: 12px;
    }
  }
}

#thumbPic{
  position: relative;
  width:100%;
  max-width: 100%;
  height: inherit;
}