extends base


block content 
    if errorMessage
        span=errorMessage

    form(method="POST",enctype="multipart/form-data")
        lable(for="video") Video File
        input(type="file",accept="video/*" required, id="video", name="video")
        input(name="title",placeholder="Title", type="text",required)
        input(name="description",placeholder="Description", type="text",required)
        input(name="hashtags",placeholder="Hashtags, plz split with comma", type="text",required)
        input(type="submit", value="submit")        