.search__form {
  display: flex;
  flex-direction: column;
  max-width: 640px;
  margin: 0 auto;
  margin-bottom: 30px;
  border: none;
  input {
    background-color: white;
    margin-top: 10px;

  }
  #search {
    font-size: 8px;
    cursor: pointer;
    position:absolute;
    top: 160px;
    right: 400px;
  }
}
