#videoPlayer{
    width: 100%;
    margin-top: -60px;
    #videoPlayer__description{
        padding:20px 0px;
        font-size: 20px;
    }
    #videoPlayer__information{
        border-bottom: 1px solid rgba(0,0,0,0.1);  
        padding-bottom: 20px;
        opacity: 0.5;
        font-size: 13px;
    }
    
}
#videoPlayer__modify{
    margin-top: 30px;
    a{
        margin-right: 20px;
    }
}

#commentForm{
    padding:10px;
    max-width:800px ;
    margin-top: 30px;
    border:none;
    background-color: inherit;
    #video__comment-text{
        border-radius: 9999px;
        // background-color: tomato;
        margin-bottom: 3px;
        padding: 15px;
    }
    #video__comment-submit{
        max-width: 100px;
        position: absolute;
        right: 335px;
        bottom:-280px;
        padding: 10px;
       
    }
}

.video__add-comments{
    margin-bottom: 30px;
    .video__comment-form{
        // height: 100px;
        display: flex;
        flex-direction: row;
        align-items: flex-end;
        .video__add-comments-textarea{
            padding-top: 15px;
            padding-left: 30px;
            background-color: inherit;
            // border: none;
            border:1px solid rgba(0,0,0,0.1);
            border-radius: 10px;
            font-size: 15px;
            outline: none;
            margin-right: 15px;
            box-sizing: border-box;
        }
        .video__add-comments-Btn{
            width: 120px;
            height: 30px;
        }
    }
}
.video__comments   {
    display: flex;
    justify-content: center;
    .video__comment{
        display: flex;
        align-items: flex-start;
        // justify-content: center;
        position: relative;
        background-color: inherit;
        border:1px solid rgba(0,0,0,0.1);
        margin-bottom: 15px;
        max-width: 350px;
        width: 350px;
        padding: 15px;
        border-radius: 10px;
        margin-left: -80px;
        .video_comment-text{
            width: 300px;
            word-wrap:break-word;
        }
        .fas.fa-comment{
            margin-right: 15px;
        }
        .deleteBtn{
            position: absolute;
            right: 10;
            cursor: pointer;
        }
    }
}
    
    