header
    a(href="/").header-logo
        i.fab.fa-youtube 
        span Wetube
    nav 
        ul   
            li 
                a(href="/search") 
                    i.fas.fa-search     
            if !loggedIn    
                li 
                    a(href="/login").header-btn Login    
                li 
                    a(href="/join") Join       
            else   
                li  
                    a(href="/videos/upload") Upload      
                li 
                    a(href="/users/edit-profile") Edit Profile                   
                li 
                    a(href="/users/logout") Logout    
                li 
                    a(href=`/users/${loggedInUser._id}`) 
                        if loggedInUser.avatar_url === ""
                            span 😊    
                        else 
                            img.avatar(src="/"+loggedInUser.avatar_url)